@mixin liText{
    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    line-height: 10px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #999999;
}

@mixin liValue {
    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.05em;
    color: #444444;
}

@mixin sec-item {
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 12px;
      }
      &__text{
        @include liText;
        display: block;
        margin-left: auto;
        margin-right: auto;
        
      }
      &__value{
        @include liValue;
        text-align: center;
        margin-bottom: 4px;
      }
}